/*============ GENERAL STYLE ============*/
body {
	font-family: Dosis, sans-serif;
	height: 6000px;
	color: #313F4C;
}

ul,
li {
	list-style: none;
	text-decoration: none;
	padding: 0;
}

.heading h2 {
	font-family: 'Great Vibes', cursive;
	font-size: 30px;
	text-align: center;
	position: relative;
	margin-bottom: 70px;
	width: 250px;
	color: #000;
}

.heading h2:after {
	content: "";
	position: absolute;
	top: 128%;
	left: 50%;
	width: 10%;
	background-color: #FCD0D7;
	height: 1.8px;
	transform: translateX(-50%);
}

.btn:focus,
.btn-primary:focus {
	box-shadow: none !important;
}

/*============ HEADER ============*/
header .navbar-toggler {
	border: none;
}

header .custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

header .navbar-nav .nav-link {
	color: #ffffff !important;
	margin-left: 10px;
	position: relative;
	text-align: center;
}

header .navbar-nav .nav-link:after {
	content: "";
	position: absolute;
	top: 33px;
	left: 21%;
	height: 1px;
	width: 60%;
	background-color: #FCD0D7;
	transform: scaleX(0);
	transition: transform .5s ease;
	transform-origin: center;
}

@media (min-width: 768px) {
	header .navbar-nav .nav-link:hover::after {
		transform: scaleX(1);
	}

	.headroom {
		transition: transform 200ms linear;
	}

	.headroom--pinned {
		transform: translateY(0%);
	}

	.headroom--unpinned {
		transform: translateY(-100%);
	}
}

@media (max-width: 767px) {
	header .navbar-collapse {
		background-color: #313F4C;
	}
}

/*============ SLIDER ============*/
#slider {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	background-image: url("../img/hero.png");
}

#slider .container {
	position: relative;
}

#slider .banner-caption {
	color: #fff;
}

#slider .banner-caption h1 {
	font-size: 21px;
	font-weight: 300;
	position: relative;
	text-align: center;
}

#slider .banner-caption h1:after {
	content: "";
	position: absolute;
	top: 128%;
	left: 50%;
	width: 18%;
	background-color: #FCD0D7;
	height: 1.2px;
	transform: translateX(-50%);
}

#slider .banner-caption h2 {
	font-family: 'Great Vibes', cursive;
	font-size: 31px;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}

#slider .banner-caption p {
	font-size: 18px;
	font-weight: 300;
}

#slider #countdown {
	overflow: hidden;
}

#slider #countdown div {
	width: 100px;
	color: #fff;
}

#slider #countdown div span {
	display: flex;
	flex-direction: column;
	font-size: 25px;
	font-family: 'Great Vibes', cursive;
	text-align: center;
}

#slider #countdown div span:nth-child(2) {
	font-size: 30px;
	margin-top: -20px;
}

#slider .arrow {
	position: absolute;
	bottom: -20vh;
	left: 50%;
	transform: translateX(-50%);
}

#slider .arrow a i {
	color: #fff;
	font-size: 35px;
}

#slider .bounce {
	animation: bounce 2s infinite;
}

@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}

	40% {
		-webkit-transform: translate(-50%, -30px);
		transform: translate(-50%, -30px);
	}

	60% {
		-webkit-transform: translate(-50%, -15px);
		transform: translate(-50%, -15px);
	}
}

@media (min-width: 576px) {
	#slider .banner-caption h1 {
		font-size: 35px;
	}

	#slider .banner-caption h2 {
		font-size: 59px;
	}

	#slider .banner-caption p {
		font-size: 25px;
	}

	#slider #countdown div span {
		font-size: 38px;
	}

	#slider #countdown div span:nth-child(2) {
		font-size: 32px;
	}
}

/*============ COUPLE SECTION ============*/
#couple {
	padding-top: 130px;
}

#couple .figure {
	background: #313F4C;
	overflow: hidden;
	max-height: 350px;
	max-width: 350px;
	position: relative;
	border-radius: 40px;
}

#couple .figure img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

#couple .figure:hover img {
	opacity: 0.4;
	transition: 0.3s;
}

#couple .figure .figure-caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 90%);
	color: #fff;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	backface-visibility: hidden;
	width: 300px;
}

#couple .figure:hover .figure-caption {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%);
}

#couple .figure .figure-caption h3 {
	font-size: 20px;
}

#couple .figure .figure-caption h3 span {
	font-family: 'Great Vibes', cursive;
}

#couple .figure .figure-caption p {
	font-size: 18px;
}

#couple .figure .figure-caption ul {
	display: flex;
	justify-content: center;
}

#couple .figure .figure-caption ul li:nth-child(2) {
	margin: 0 30px;
}

#couple .figure .figure-caption li i {
	font-size: 18px;
	color: #fff;
	transition: all .3s;
}

#couple .figure .figure-caption li i:hover {
	color: #F8ADB9;
}

@media (min-width: 992px) {
	#couple .jessica {
		margin-left: auto;
		margin-right: 30px;
	}

	#couple .michael {
		margin-right: auto;
		margin-left: 30px;
	}
}

/*============ STORY SECTION ============*/
#story {
	padding-top: 130px;
}

#story .timeline {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 16px 0;
}

#story .timeline:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: 2px;
	margin-left: -1px;
	background-color: #F8ADB9;
}

#story .timeline .timeline-item {
	position: relative;
	width: 50%;
	padding: 16px 0;
	padding-right: 40px;
	text-align: right;
}

#story .timeline .timeline-item:before {
	content: '';
	position: absolute;
	right: -8px;
	top: 21.6px;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #F8ADB9;
	background-color: #fff;
}

#story .timeline .timeline-item:nth-child(even) {
	margin-left: 50%;
	padding-left: 40px;
	padding-right: 0;
	text-align: left;
}

#story .timeline .timeline-item:nth-child(even)::before {
	right: auto;
	left: -8px;
}

#story .timeline .timeline-item p img {
	max-width: 100%;
	height: auto;
}

@media (max-width: 768px) {
	#story .timeline::before {
		left: 8px;
	}

	#story .timeline .timeline-item {
		width: 100%;
		text-align: left;
		padding-left: 40px;
		padding-right: 0;
	}

	#story .timeline .timeline-item::before {
		top: 20px;
		left: 1px;
	}

	#story .timeline .timeline-item:nth-child(even) {
		margin-left: 0;
	}

	#story .timeline .timeline-item:nth-child(even)::before {
		left: 1px;
	}
}

/*============ EVENTS SECTION ============*/
#events {
	padding-top: 130px;
	margin: 0 20px;
}

#events .events-content {
	padding-left: 0;
	border: 1px solid #f5f6f7;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

#events .events-content .events-img {
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 400px !important;
}

#events .events-content .events-text {
	padding: 80px 0 !important;
}

#events .events-content .events-text p i {
	font-size: 18px;
	color: #FCD0D7;
}

#events .events-text .btn {
	font-size: 11px;
	font-weight: 700;
	padding: 8px 26px 6px;
	letter-spacing: 1.7px;
	text-transform: uppercase;
	outline: none;
	-webkit-transition: 0.15s linear;
	transition: 0.15s linear;
}

#events .events-text .btn-round {
	border-radius: 160px;
}

#events .events-text .btn-primary {
	color: #313F4C;
	background-color: #FCD0D7;
	border-color: #FCD0D7;
}

#events .events-text .btn-primary:hover {
	background-color: #F8ADB9;
	border-color: #F8ADB9;
}

/*============ PEOPLE SECTION ============*/
#people {
	padding-top: 130px;
}

#people #pple-filters {
	padding: 0;
	margin: 25px 0 50px 0;
	list-style: none;
	text-align: center;
}

#people #pple-filters .left-round {
	border-radius: 40px 0 0 40px;
}

#people #pple-filters .right-round {
	border-radius: 0 40px 40px 0;
}

#people #pple-filters .btn-primary {
	color: #fff;
	background-color: #ADB5C2;
	border-color: #fbfbfb;
	padding: 6px 25px;
}

#people #pple-filters .btn-primary:hover,
#people #pple-filters button.filter-active  {
	background-color: #818EA2;
}

#people .pple-wrap {
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
	transition: 0.3s;
}

#people .pple-wrap:hover {
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.26);
}

#people .pple-item {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
}

#people .pple-item figure {
	position: relative;
	background: #313F4C;
	overflow: hidden;
	height: 276px;
	border-radius: 4px 4px 0 0;
	margin: 0;
}

#people .pple-item figure:hover img {
	opacity: 0.4;
	transition: 0.3s;
}

#people .pple-item figure .img-fluid {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#people .pple-item figure .link-preview {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 90%);
	color: #fff;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	backface-visibility: hidden;
}

#people .pple-item figure:hover .link-preview {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%);
}

#people .pple-item figure .link-preview i {
	font-size: 34px;
	transition: .3s ease-in;
}

#people .pple-item figure .link-preview i:hover {
	color: #F8ADB9;
}
